{% comment %} <!-- Footer -->
<footer class="page-footer font-small">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"><strong><a href="https://www.instagram.com/about/us/">ABOUT US</a>&nbsp;&nbsp;<a href="https://help.instagram.com/">SUPPORT</a>&nbsp;&nbsp;<a href="https://instagram-press.com/">PRESS</a>&nbsp;&nbsp;<a href="https://www.instagram.com/developer/">API</a>&nbsp;&nbsp;<a href="https://www.instagram.com/about/jobs/">JOBS</a>&nbsp;&nbsp;<a href="https://help.instagram.com/519522125107875">PRIVACY</a>&nbsp;&nbsp;<a href="https://help.instagram.com/581066165581870">TERMS</a>&nbsp;&nbsp;<a href="https://www.instagram.com/explore/locations/">DIRECTORY</a>&nbsp;&nbsp;<a href="https://www.instagram.com/directory/profiles/">PROFILES</a>&nbsp;&nbsp;<a href="https://www.instagram.com/directory/hashtags/">HASHTAGS</a>&nbsp;&nbsp;<a href="">LANGUAGE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>© 2019 INSTAGRAM</span></strong>
      
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer --> {% endcomment %}